table.booking_table {
	width: 100%;
}

.InputfieldBooking table tr {
	border: none;
}

.InputfieldBooking th {
	/*padding-bottom: 5px;*/
	/*font-weight: bold;*/
	text-align: center;
}

.InputfieldBooking tr:hover td {
	/*background: #eee; */
}

.InputfieldBooking th,
.InputfieldBooking td {
	padding: 1px;
	/*border-bottom: 1px solid #ddd; */
}

.InputfieldBooking tbody > tr > td.RowHeader {

	padding-right: 10px;
}

.InputfieldBooking tr > td:first-child {
	/*font-weight: bold;*/
	color: #9ec5d2;
}

.InputfieldBooking td {
	vertical-align: middle;
}

/*
sup.booking_hour {


}*/

button.booking_free, button.booking_booked, button.booking_last_saved, button#booking_refresh, button#booking_book  {
	background-color: #315C80;
	color: #D7F3FF;
	display:inline-block;
	min-width: 50px;
	width: 80px;
	padding:5px 10px;
	border: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

/*the currently selected timeslot button (but unsaved)*/
button.booking_selected {
	background-color: #FFC0CB;
	color: #000;
	border: none;
}

button.booking_booked {
	background-color: #FFF;
	color: #FFF;
}

/*the last booked and saved timeslot*/
button.booking_last_saved {
	background-color: #EFAD4D;
	color: #000;
}

/*book button*/
button#booking_book {
	background-color: #2E8341;
}

/*book button hover*/
button#booking_book:hover {
	background-color: #3EAE57;
}

/*refresh button*/
button#booking_refresh:hover {
	background-color: #4684B7;
}

.InputfieldBooking button:hover {
	background: #D7F3FF;
	color: #000;
	cursor: pointer;

}

div#booking_users_panel {
	margin-top: 2em;
}

/*
select#booking_free_users {


}*/

div#booking_last_wrapper {
	float: right;
}

span#booking_last {
	font-weight: bold;
}

#booking_spinner {
	margin-left: 0.5em;
	font-size: 20px;
	position: relative;
	display: none;
}

#booking_spinner i {
	position: absolute;
	top: 0;
	left: 10px;
}
